.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed; /* fixed even if we scroll */
    top: 0;
    left: 0;
    background-color: #a87310;
    display: flex; /* all items in toolbar aligned next to each other */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90; /* below the backdrop as the backdrop should go above the toolbar */
    color: white; /* font colour */
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}